In [1]:
from google.colab import drive

drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [1]:
import pandas as pd

In [134]:
# import collision_road matching data with segment IDs
df_collisions_road = pd.read_csv('../data/output/collisions_road.csv')

# import collision data
df_collisions = pd.read_csv('../data/output/collisions.csv')

c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [135]:
df_collisions_merged = df_collisions_road.merge(df_collisions, left_on='col_id', right_on='col_id', suffixes=('','_y'))
df_collisions_merged

,col_id,street,year,month,weekday,hour,segment_id,bezirk,stadtteil,strassenna,...,car,foot,motor,vehicle,other,road_con,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,0,Samariterviertel,2018,1,4,15,6209.0,Friedrichshain-Kreuzberg,Friedrichshain,Frankfurter Allee,...,1,1,0,0,0,1,"803604,1562","5827580,738","13,4750178","52,51359681"
1,1,Ziekowstraße/Freie Scholle,2018,1,2,11,41374.0,Reinickendorf,Tegel,A 111 BAB Autobahnzubringer Hamburg,...,1,0,0,0,0,0,"790639,5854","5835009,589","13,29102205","52,58725906"
2,1,Ziekowstraße/Freie Scholle,2018,1,2,11,41373.0,Reinickendorf,Tegel,A 111 BAB Autobahnzubringer Hamburg,...,1,0,0,0,0,0,"790639,5854","5835009,589","13,29102205","52,58725906"
3,2,Barnimkiez,2018,1,3,9,4410.0,Pankow,Prenzlauer Berg,Otto-Braun-Straße,...,1,1,0,0,0,0,"799827,9618","5828733,523","13,42057818","52,52601854"
4,3,Volkspark (Rudolf-Wilde-Park),2018,1,2,17,1452.0,Tempelhof-Schöneberg,Schöneberg,Hauptstraße,...,1,1,0,0,0,0,"795223,509","5823525,402","13,34828776","52,48184447"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96661,38850,NaN,2020,12,3,16,11485.0,Mitte,Mitte,Leipziger Straße,...,1,1,0,0,0,1,"797982,8966","5826897,222","13,39181741","52,51057"
96662,38850,NaN,2020,12,3,16,11486.0,Mitte,Mitte,Charlottenstraße,...,1,1,0,0,0,1,"797982,8966","5826897,222","13,39181741","52,51057"
96663,38850,NaN,2020,12,3,16,26570.0,Mitte,Mitte,Charlottenstraße,...,1,1,0,0,0,1,"797982,8966","5826897,222","13,39181741","52,51057"
96664,38850,NaN,2020,12,3,16,11484.0,Mitte,Mitte,Leipziger Straße,...,1,1,0,0,0,1,"797982,8966","5826897,222","13,39181741","52,51057"
96665,38851,NaN,2020,12,4,14,2986.0,Mitte,Gesundbrunnen,Prinzenallee,...,1,0,0,1,0,0,"797307,1285","5832290,574","13,38671399","52,5592837"

In [136]:
df_collisions_merged.bezirk = df_collisions_merged.bezirk.astype(str)
df_collisions_merged.stadtteil = df_collisions_merged.stadtteil.astype(str)
df_collisions_merged.strassenna = df_collisions_merged.strassenna.astype(str)
df_collisions_merged.other = df_collisions_merged.other.astype(str)
df_collisions_merged.street = df_collisions_merged.street.astype(str)
df_collisions_merged.street_y = df_collisions_merged.street_y.astype(str)
df_collisions_merged.road_con = df_collisions_merged.road_con.astype(str)

In [139]:
df_collisions_merged.head(20)

,col_id,street,year,month,weekday,hour,segment_id,bezirk,stadtteil,strassenna,...,car,foot,motor,vehicle,other,road_con,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,0,Samariterviertel,2018,1,4,15,6209.0,Friedrichshain-Kreuzberg,Friedrichshain,Frankfurter Allee,...,1,1,0,0,0,1,"803604,1562","5827580,738","13,4750178","52,51359681"
1,1,Ziekowstraße/Freie Scholle,2018,1,2,11,41374.0,Reinickendorf,Tegel,A 111 BAB Autobahnzubringer Hamburg,...,1,0,0,0,0,0,"790639,5854","5835009,589","13,29102205","52,58725906"
2,1,Ziekowstraße/Freie Scholle,2018,1,2,11,41373.0,Reinickendorf,Tegel,A 111 BAB Autobahnzubringer Hamburg,...,1,0,0,0,0,0,"790639,5854","5835009,589","13,29102205","52,58725906"
3,2,Barnimkiez,2018,1,3,9,4410.0,Pankow,Prenzlauer Berg,Otto-Braun-Straße,...,1,1,0,0,0,0,"799827,9618","5828733,523","13,42057818","52,52601854"
4,3,Volkspark (Rudolf-Wilde-Park),2018,1,2,17,1452.0,Tempelhof-Schöneberg,Schöneberg,Hauptstraße,...,1,1,0,0,0,0,"795223,509","5823525,402","13,34828776","52,48184447"
5,3,Volkspark (Rudolf-Wilde-Park),2018,1,2,17,828.0,Tempelhof-Schöneberg,Schöneberg,Dominicusstraße,...,1,1,0,0,0,0,"795223,509","5823525,402","13,34828776","52,48184447"
6,3,Volkspark (Rudolf-Wilde-Park),2018,1,2,17,829.0,Tempelhof-Schöneberg,Schöneberg,Dominicusstraße,...,1,1,0,0,0,0,"795223,509","5823525,402","13,34828776","52,48184447"
7,3,Volkspark (Rudolf-Wilde-Park),2018,1,2,17,20054.0,Tempelhof-Schöneberg,Schöneberg,Hauptstraße,...,1,1,0,0,0,0,"795223,509","5823525,402","13,34828776","52,48184447"
8,4,Niederschönhausen,2018,1,4,15,21397.0,Pankow,Niederschönhausen,Dietzgenstraße,...,0,1,0,0,0,1,"798261,3849","5835047,26","13,40322797","52,58347154"
9,5,Ringkolonnaden,2018,1,2,5,7709.0,Marzahn-Hellersdorf,Marzahn,Märkische Allee,...,1,0,0,0,0,0,"808320,0275","5832060,055","13,54844656","52,5510946"
10,6,Forst Grunewald,2018,1,2,17,41694.0,Charlottenburg-Wilmersdorf,Grunewald,A 115 BAB Autobahnzubringer Magdebg/Leipz (Avus),...,1,0,0,0,1,1,"788961,8201","5823583,542","13,25639043","52,48571541"
11,6,Forst Grunewald,2018,1,2,17,41696.0,Charlottenburg-Wilmersdorf,Grunewald,A 115 BAB Autobahnzubringer Magdebg/Leipz (Avus),...,1,0,0,0,1,1,"788961,8201","5823583,542","13,25639043","52,48571541"
12,7,Lietzengraben,2018,1,5,16,42256.0,Pankow,Buch,A 114 BAB Autobahnzubringer Prenzlau,...,1,0,0,0,0,1,"799543,5822","5840743,375","13,42725182","52,63382261"
13,7,Lietzengraben,2018,1,5,16,42255.0,Pankow,Buch,A 114 BAB Autobahnzubringer Prenzlau,...,1,0,0,0,0,1,"799543,5822","5840743,375","13,42725182","52,63382261"
14,8,Alexanderplatzviertel,2018,1,2,14,8333.0,Mitte,Mitte,Grunerstraße,...,1,1,0,0,0,0,"799255,9754","5827907,973","13,41142938","52,51893299"
15,8,Alexanderplatzviertel,2018,1,2,14,39275.0,Mitte,Mitte,Straßentunnel Alexanderplatz,...,1,1,0,0,0,0,"799255,9754","5827907,973","13,41142938","52,51893299"
16,9,Teichstraße,2018,1,7,21,2201.0,Reinickendorf,Reinickendorf,Lindauer Allee,...,0,0,1,0,0,1,"794735,9234","5833763,947","13,35020475","52,57388905"
17,10,Alexanderplatzviertel,2018,1,3,17,8321.0,Mitte,Mitte,Otto-Braun-Straße,...,1,0,0,0,0,1,"799698,6291","5828456,085","13,41842748","52,52360287"
18,10,Alexanderplatzviertel,2018,1,3,17,39275.0,Mitte,Mitte,Straßentunnel Alexanderplatz,...,1,0,0,0,0,1,"799698,6291","5828456,085","13,41842748","52,52360287"
19,11,Manteuffelstraße,2018,1,4,16,39308.0,Tempelhof-Schöneberg,Tempelhof,Manteuffelstraße,...,1,0,0,0,0,1,"797300,7087","5822341,224","13,37773011","52,47010259"

In [140]:
# generate all dates from start to end
import time
import datetime



start = "31/12/2017"
end = "31/12/2020"
date = datetime.datetime.strptime(start, "%d/%m/%Y")

dates = list()
while(date != datetime.datetime.strptime(end, "%d/%m/%Y")): 
    date += datetime.timedelta(days=1)
    for i in range(24):
        dates.append((date.strftime("%Y-%m-%d"), i))

In [141]:
# Create the pandas DataFrame
df_date_hour_pairs = pd.DataFrame(dates, columns = ['date', 'hour'])
df_segments = pd.DataFrame(df_collisions_road["segment_id"].unique(), columns=["segment_id"])

In [142]:
df_date_hour_pairs['date'] = pd.to_datetime(df_date_hour_pairs['date'])
df_date_hour_pairs['year'] = df_date_hour_pairs['date'].dt.year
df_date_hour_pairs['month'] = df_date_hour_pairs['date'].dt.month

In [143]:
df_date_hour_pairs['weekday_name'] = df_date_hour_pairs['date'].dt.weekday_name
df_date_hour_pairs['weekday'] = df_date_hour_pairs['date'].dt.weekday + 2
df_date_hour_pairs.loc[(df_date_hour_pairs.weekday == 8),'weekday']=1
df_date_hour_pairs = df_date_hour_pairs.drop('date', axis=1)

In [144]:
df_date_hour_pairs = df_date_hour_pairs.drop_duplicates()

In [8]:
import findspark
findspark.init()
findspark.find()
import pyspark
from pyspark.sql.functions import *
from pyspark.sql.types import IntegerType, FloatType

In [9]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('ML_Project').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [145]:
df_date_hour_pairs = spark.createDataFrame(df_date_hour_pairs) 
df_segments = spark.createDataFrame(df_segments) 
df_collisions_merged = spark.createDataFrame(df_collisions_merged)

In [146]:
df_combinations = df_date_hour_pairs.crossJoin(df_segments)

In [147]:
df_combinations.count()

117034848

In [148]:
df_combinations = df_combinations.join(df_collisions_merged,(df_combinations.year == df_collisions_merged.year) & 
                                                            (df_combinations.month == df_collisions_merged.month) & 
                                                            (df_combinations.weekday == df_collisions_merged.weekday) & 
                                                            (df_combinations.hour == df_collisions_merged.hour) &
                                                            (df_combinations.segment_id == df_collisions_merged.segment_id), 
                                       "leftanti")

In [149]:
df_combinations.count()

116938408

In [150]:
df_combinations.show(30)

+----+----+-----+------------+-------+----------+
|hour|year|month|weekday_name|weekday|segment_id|
+----+----+-----+------------+-------+----------+
|   0|2018|    1|      Monday|      2|   39305.0|
|   0|2018|    1|      Monday|      2|    7183.0|
|   0|2018|    1|      Monday|      2|    3840.0|
|   0|2018|    1|      Monday|      2|   42079.0|
|   0|2018|    1|      Monday|      2|   31885.0|
|   0|2018|    1|      Monday|      2|   41108.0|
|   0|2018|    1|      Monday|      2|    8171.0|
|   0|2018|    1|      Monday|      2|    6450.0|
|   0|2018|    1|      Monday|      2|    5578.0|
|   0|2018|    1|      Monday|      2|   29533.0|
|   0|2018|    1|      Monday|      2|   23565.0|
|   0|2018|    1|      Monday|      2|   17180.0|
|   0|2018|    1|      Monday|      2|    3268.0|
|   0|2018|    1|      Monday|      2|    3484.0|
|   0|2018|    1|      Monday|      2|   19780.0|
|   0|2018|    1|      Monday|      2|    1387.0|
|   0|2018|    1|      Monday|      2|   11742.0|
|   0|2018|    1|      Monday|      2|   37901.0|
|   0|2018|    1|      Monday|      2|   20232.0|
|   0|2018|    1|      Monday|      2|     110.0|
|   0|2018|    1|      Monday|      2|   22466.0|
|   0|2018|    1|      Monday|      2|   39204.0|
|   0|2018|    1|      Monday|      2|   42440.0|
|   0|2018|    1|      Monday|      2|   18250.0|
|   0|2018|    1|      Monday|      2|   41381.0|
|   0|2018|    1|      Monday|      2|   39071.0|
|   0|2018|    1|      Monday|      2|   41908.0|
|   0|2018|    1|      Monday|      2|   11630.0|
|   0|2018|    1|      Monday|      2|   38709.0|
|   0|2018|    1|      Monday|      2|   24665.0|
+----+----+-----+------------+-------+----------+
only showing top 30 rows

In [151]:
df_combinations = df_combinations.sample(False, 0.0055, seed=None)

In [152]:
df_combinations.count()

643187

In [153]:
df_combinations = df_combinations.toPandas()

In [154]:
df_combinations.to_csv('../data/output/negative_samples.csv')

In [ ]:
### OLD CODE BELOW

df_date_hour_pairs_2018_1 = df_date_hour_pairs[df_date_hour_pairs['date']<datetime.datetime(2018,7,1)]
df_date_hour_pairs_2018_2 = df_date_hour_pairs[(df_date_hour_pairs['date']<datetime.datetime(2019,1,1)) & (df_date_hour_pairs['date']>datetime.datetime(2018,6,30))]  
df_date_hour_pairs_2019_1 = df_date_hour_pairs[(df_date_hour_pairs['date']<datetime.datetime(2019,7,1)) & (df_date_hour_pairs['date']>datetime.datetime(2018,12,31))]  
df_date_hour_pairs_2019_2 = df_date_hour_pairs[(df_date_hour_pairs['date']<datetime.datetime(2020,1,1)) & (df_date_hour_pairs['date']>datetime.datetime(2019,6,30))]  
df_date_hour_pairs_2020_1 = df_date_hour_pairs[(df_date_hour_pairs['date']<datetime.datetime(2020,7,1)) & (df_date_hour_pairs['date']>datetime.datetime(2019,12,31))]  
df_date_hour_pairs_2020_2 = df_date_hour_pairs[(df_date_hour_pairs['date']<datetime.datetime(2021,1,1)) & (df_date_hour_pairs['date']>datetime.datetime(2020,6,30))]

In [23]:
df_date_hour_pairs_2020_2

            date  hour
21888 2020-07-01     0
21889 2020-07-01     1
21890 2020-07-01     2
21891 2020-07-01     3
21892 2020-07-01     4
...          ...   ...
26299 2020-12-31    19
26300 2020-12-31    20
26301 2020-12-31    21
26302 2020-12-31    22
26303 2020-12-31    23

[4416 rows x 2 columns]

In [24]:
df_segments

       segment_id
0          6209.0
1         41374.0
2         41373.0
3          4410.0
4          1452.0
...           ...
19346     15989.0
19347     15988.0
19348     22553.0
19349     22561.0
19350     20180.0

[19351 rows x 1 columns]

In [ ]:
### Creating Date-Hour-Road Segment Combinations
df_segments['key'] = 1
df_date_hour_pairs_2018_1['key'] = 1
df_date_hour_pairs_2018_2['key'] = 1
df_date_hour_pairs_2019_1['key'] = 1
df_date_hour_pairs_2019_2['key'] = 1
df_date_hour_pairs_2020_1['key'] = 1
df_date_hour_pairs_2020_2['key'] = 1

# to obtain the cross join we will merge 
# on the key and drop it.
pd.merge(df_segments, df_date_hour_pairs_2018_1, on ='key').drop("key", 1).to_csv("../data/output/combinations_2018_1.csv", index = False)
pd.merge(df_segments, df_date_hour_pairs_2018_2, on ='key').drop("key", 1).to_csv("../data/output/combinations_2018_2.csv", index = False)
pd.merge(df_segments, df_date_hour_pairs_2019_1, on ='key').drop("key", 1).to_csv("../data/output/combinations_2019_1.csv", index = False)
pd.merge(df_segments, df_date_hour_pairs_2019_2, on ='key').drop("key", 1).to_csv("../data/output/combinations_2019_2.csv", index = False)
pd.merge(df_segments, df_date_hour_pairs_2020_1, on ='key').drop("key", 1).to_csv("../data/output/combinations_2020_1.csv", index = False)
pd.merge(df_segments, df_date_hour_pairs_2020_2, on ='key').drop("key", 1).to_csv("../data/output/combinations_2020_2.csv", index = False)

c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
df_combinations_2018_1

          segment_id       date  hour
0             6209.0 2018-01-01     0
1             6209.0 2018-01-01     1
2             6209.0 2018-01-01     2
3             6209.0 2018-01-01     3
4             6209.0 2018-01-01     4
...              ...        ...   ...
84060739     20180.0 2018-06-30    19
84060740     20180.0 2018-06-30    20
84060741     20180.0 2018-06-30    21
84060742     20180.0 2018-06-30    22
84060743     20180.0 2018-06-30    23

[84060744 rows x 3 columns]